@use "../abstract/keyframes";
@use "../abstract/variable";
@use "../abstract/mixin";

#about {
    background: rgb(236, 236, 236)
}

.company {
    @include mixin.flex;
    gap: 3rem;
    margin-top: 2rem;

    .img_abs {
        width: 55%;
        

        img {
            width: 100%;
        }
    }

    .about_elements {
        @include mixin.flex (column, space-around, flex-start);
        width: 45%;
        height: 100%;
    }
}