@use "../abstract/keyframes";
@use "../abstract/variable" as var;
@use "../abstract/mixin";

#cards {

    .cards_container {
        @include mixin.flex;
        height: 100%;
    }

    h3 {
        color: var.$colorTitle
    }
}

    .cards {
        @include mixin.flex(column);
        height: 80%;
        gap: 2rem;
        text-align: center;

        .icons_cards {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15rem;
            height: 12.5rem;
            border: 1px solid var.$colorTitle;
            margin-bottom: 10px;

            .fa-desktop,
            .fa-flask,
            .fa-compass-drafting,
            .fa-sack-dollar {
                font-size: 4rem;
                color: var.$colorTitle;
            }
        }

        p {
            width: 60%;
        }
    }

