@use "../abstract/keyframes";
@use "../abstract/variable" as var;
@use "../abstract/mixin";

#labels {
    background-color: white;
    height: 30rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    

    .labels_row {
        display: inline-block;
        animation: scroll 10s linear infinite;

        img {
        padding: 0 130px;
        height: 120px;
        width: auto;
        opacity: .4;
        filter: contrast(0);
    }
}
    
        

}


