@use "../abstract/keyframes";
@use "../abstract/variable";
@use "../abstract/mixin";

#video {
    position: relative;
    overflow: hidden;
    height: 60rem;
    background-color: aliceblue;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }

    h2 {
        z-index: 1;
    }
}