@use "../abstract/keyframes";
@use "../abstract/variable" as var;
@use "../abstract/mixin.scss";

@font-face {
    font-family: roboto;
    src: url(../font/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: roboto;
    src: url(../font/Roboto/Roboto-Black.ttf);
    font-weight: 800;
}


body {
    font-family: roboto;
    font-weight: 400;
    font-size: 1.5rem;
}

// responsive
.responsive_container {
    max-width: 1820px;
}
////////////////////////

section {
    height: 70rem;
    @include mixin.flex;
    background-color: var.$colorBgSection;
}

// transition btn + socials
a {
    transition: .3s ease;
    display: inline-block;

    &:hover {
        color: var.$colorHoverH3;
        transform: scale(1.1);
        ;
    }
}

li a {
    transition: .3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

h2 {
    font-size: 4.5rem;
    color: var.$colorTitle;
}

h3 {
    font-size: 1.7rem;
    color: var.$colorHoverH3;
}

span {
    display: block;
}

p {
    color: var.$colorText;
}
