@font-face {
    font-family: roboto;
    src: url(../font/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: roboto;
    src: url(../font/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* GENERAL */

 body {
    font-family: roboto, sans-serif;
 }

section h3 {
    font-size: 2em;
    color: goldenrod;
}

section h2 {
    font-size: 3.5em;
}

a {
    color: black;
    transition: color .3s ease;
    cursor: pointer;
}

a:hover {
    color: goldenrod;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-image: url(../IMG/header-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    position: relative;
}

/* FILTRE BLEU EN ARRIERE PLAN */

header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(9, 9, 62);
    opacity: 0.5;
    z-index: 0;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    z-index: 1;

}

#logo {
    font-size: 2em;
    padding-left: 5%;
    transition: .3s ease;
    color: white;
}

#logo h3 {
    color: white;
}



nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
}

nav ul a {
    padding-left: 2rem;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    transition: .3s ease;
    cursor: pointer;
}

.header_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-top: 3em;
    gap: .5rem;
    z-index: 1;
}

.header_title h3 {
    font-size: 2.1em;
}

.header_title h2 {
    font-size: 8em;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: .5em;
    line-height: 1em;
    
}

.header_title span {
    display: block;
}

.header_title a {
    font-size: 1.5em;
    border: 1px solid white;
    padding: 25px 50px;
    color: white;
    font-weight: bold;
    margin-bottom: 3em;
    transition: .3s ease;
}

.header_title a:hover {
    color: rgb(9, 9, 62, 0.5);
    background-color: rgb(255, 255, 255, 0.5);
}

.header_title ul {
    display: flex;
    flex-direction: row;
}

.header_title ul a{
    border: none;
    padding: 20px;
    color: white;
    transition: .3s ease;
}

.header_title ul a:hover {
    color: rgb(9, 9, 62, 0.5);
    background-color: transparent;
} 

/******* SECTION CARDS *******/


/* DISPOSITION GRID */
#cards_container {
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "design style research price";
    padding: 3em;
    gap: 4em;
    background-color: rgb(249, 249, 249);

}

.design_card {
    grid-area: design;
}

.style_card {
    grid-area: style;
}

.researc_card {
    grid-area: research;
}

.price_card {
    grid-area: price;
}
/*********************/


.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    gap: 1em;
}

.cards i {
    display: flex;
    font-size: 5em;
    color: rgb(46, 45, 45);
    opacity: 0.5;
    padding: 80px;
    border: 1px solid grey;
    margin-bottom: 10px;
}

.cards h3 {
    margin-top: 10px;
    font-size: 1.5em;
    color: rgb(126, 126, 151);
}

.cards p {
    color: grey;
    font-size: 1.2em;
    font-weight: 100;
    line-height: 1.5em;
    width: 70%;
}

/******** SECTION ABOUT **********/

/* modifier couleur bg exacte */
#about {
    height: 100vh;
    background-color: rgb(240, 238, 238);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.company {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6em;
} 

.img_abs {
   height: 80%;
   width: 50%;
   object-fit: cover;
}

.img_abs img {
    width: 100%;
    height: 100%;
}

.about_elements {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3em;
}

.about_elements span {
    display: block;
}

.about_elements p {
    line-height: 1.5em;
    font-size: 1.5em;
    color: grey;
    margin-bottom: 10px;
    margin-top: 10px;
}

.about_elements a {
    border: 1px solid goldenrod;
    padding: 20px 40px;
    font-size: 1.2em;
    color: black;
    transition: .2s ease;
}

.about_elements a:hover {
    background-color: goldenrod;
    color: white;
    font-weight: bold;
}

/******** SECTION PROJECT **********/

#project {
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: rgb(249, 249, 249);
    padding-top: 15vh;
 }
 

#project ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4em;
    margin-top: 5em;
    font-size: 1.5em;
}

.project_grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "ny_top singapore singapore"
        "paris paris by_bottom" ;
    height: 75%;
    width: 90%;
    padding: 5%;
    gap: 3em;
}

/* ORGANISATION DES PROJECT CARDS */

/***** GÉNÉRAL CARDS ******/

#project span {
    color: rgb(88, 78, 78);
    font-weight: bold;
}

.ny_text {
    /* width: 100%;
    height: 100%; */
    z-index: 1;
    background-color: white;
    text-align: left;
    padding-left: 1em;
    color: grey;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 2em;
}

.project_double_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    text-align: left;
    padding-left: 1em;
    color: grey;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 25%;
    background-color: white;
}

.project_single_cards {
    border-radius: 0% 0% 20px 20px;
    box-shadow: 10%;
}

.project_double_cards {
    border-radius: 20px 0% 20px 20px;
}


/***********GESTION BG IMAGE CARDS ***********/

.ny_top {
    grid-area: ny_top;
    background-image: url(../IMG/p1.png);
    background-size: cover;
    background-position: center;
}

.singapore {
    grid-area: singapore;
    background-image: url(../IMG/p2.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.paris {
    grid-area: paris;
    background-image: url(../IMG/p3.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.ny_bottom {
    /* mettre background image + relative comme au dessus */
    grid-area: by_bottom;
    background-image: url(../IMG/p4.png);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 5em;
}

/******** SECTION VIDEO **********/

#video {
    height: 80vh;
    text-align: center;
    padding-top: 15vh;
    position: relative;
    overflow: hidden;
}

/* positionnement de la video en BG de toute la section
bien penser au z-index */
#video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#video h2 {
    z-index: 1;
    color: white;
}

#video p {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

/******** SECTION TESTIMONY **********/

#testimony {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: rgb(249, 249, 249);
    padding-top: 15vh;
    gap: 5em;
}

#testimony article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 30vh;
    gap: 3em;
}

.testimony_cards {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    padding: 50px;
    margin-top: 7em;
    text-align: left;
    position: relative;
}

.testimony_img {
    width: 20%;
}

.testimony_cards img {
    position: absolute;
    transform: scale(1.6);
    top: 70px;
    left: 60px;
}

.testimony_elements {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 10px;
    gap: 1.5em;
}

.testimony_cards p {
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.5em;
    color: grey;
}

.testimony_cards h4 {
    font-size: 1.7em;
    color: grey;
    font-weight: 100;
}

/* Ajouter style favicons pour dérouler cards témoignages */

/******** SECTION LABELS **********/


#labels {
    display: flex;
    justify-content: center;
    height: 40vh;
}

.labels_container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.labels_img_wrapper {
    width: 15%;
    object-fit: cover;
}

.labels_img_wrapper img {
    width: 100%;
    opacity: .2;
}

/******** FOOTER **********/
/* définir couleur exacte plus tard */
footer {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 9, 57);
}

footer p {
    color: grey;
    font-size: 1.5em;
    width: 80%;
}

footer h4 {
    color: white;
    font-size: 2em;
}

footer span {
    color: goldenrod;
    font-size: 1.5em;
}

#links_news {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    padding: 3%;
}

.links {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.links > div {
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.links a {
    display: block;
    color: grey;
    font-size: 1.5em;
    padding-top: 2em;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    height: 50%;
    justify-content: space-between;
    gap: 5em;
}

.newsletter p {
    font-size: 1.2em;
}

form {
    width: 100%;
}

.newsletter input {
    font-size: 1rem;
    height: 100%;
    padding: 5% 10%;
    background-color: rgb(57, 104, 132);
    border: none;
    outline: none;
}

.newsletter a {
    font-size: 1rem;
    height: 100%;
    background-color: white;
    margin: -5px;
    padding: 5% 8%;
}

#copyright_socials {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}

#copyright_socials > div {
    width: 70%;
}



#copyright_socials ul {
    width: 30%;
}





