@mixin flex ($direction: row,$justify: center,$align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin btn ($color: white, $height:20px, $width: 50px, $bgColor: transparent) {
    border: 1px solid $color;
    padding: $height $width;
    background-color: $bgColor;
}