@media screen and (max-width: 1820px) {
    
    .responsive_container {
        max-width: 1720px;
    }
}

@media screen and (max-width: 1720px) {
    
    .responsive_container {
        max-width: 1620px;
    }
}

@media screen and (max-width: 1620px) {
    
    .responsive_container {
        max-width: 1520px;
    }
}

@media screen and (max-width: 1520px) {
    
    .responsive_container {
        max-width: 1420px;
    }
}



@media screen and (max-width: 1420px) {
    
    .responsive_container {
        max-width: 1320px;
    }
}

@media screen and (max-width: 1320px) {
    
    .responsive_container {
        max-width: 1220px;
    }
}

@media screen and (max-width: 1220px) {
    
    .responsive_container {
        max-width: 1120px;
    }
}

@media screen and (max-width: 1120px) {
    
    .responsive_container {
        max-width: 1020px;
    }
}

@media screen and (max-width: 1020px) {
    
    .responsive_container {
        max-width: 920px;
    }
}



















@media screen and (max-width: 1670px) {
    
    header {

        .header_title {

            h2 {
                font-size: 9rem;
            }
        }
    }
}